{% load static %}
<html>
    <head>
        <title>Sleep data</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!-- <div class="page-header">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    -->
    <p>おはようございます<br>今日はよく眠れましたか？<br>
        <br>
        <input type="radio" name="q1" value="よく眠れた"> よく眠れた！<br>
        <input type="radio" name="q1" value="普通"> 普通<br>
        <input type="radio" name="q1" value="あまり眠れなかった">あまり眠れなかった…
        </p><br>
        <p><input type="submit" value="Fitbitと比較"></p>
        <br>
    <p>今日のあなたの睡眠効率は{{sleepEfficiency}}％です。</p>
    </body>
</html>